---
import Layout from '../layouts/Layout.astro'
import image1 from '../assets/1.jpg'
import image2 from '../assets/2.jpg'
import { Image } from 'astro:assets'
---

<Layout>
  <Image src={image1} alt="" />

  <div class="mt-10">
    <button class="w-1/8 border cursor-pointer" data-src={image1.src}>
      <Image src={image1} alt="" sizes="(min-width: 768px) 10vw, 30vw" />
    </button>
    <button class="w-1/8 border cursor-pointer" data-src={image2.src}>
      <Image src={image2} alt="" sizes="(min-width: 768px) 10vw, 30vw" />
    </button>
  </div>
</Layout>

<script>
  const featured = document.querySelector('img') as HTMLImageElement
  const image = document.querySelector('button img') as HTMLImageElement
  const buttons = document.querySelectorAll('button')

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      featured.src = button.dataset.src!
    })
  })
</script>
